

.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer ;
    border-bottom: 1px #f6f6f6;
}

a {
    text-decoration: none;
    color: rgb(31, 31, 31);

}

.sidebarChat:hover{
    background-color: #e7e5e5;
}

.sidebarChat__info {
    margin-left: 15px;
}